@import url('https://fonts.googleapis.com/css?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:400&display=swap');
.sidebar{
    height:100vh;
    /* margin-top: -50px; */
    width:100%;
    background-color:#070708;
    overflow-y: scroll;
     text-align: center;
}
.sidebar > h1 {
    padding-top: 20px;
    text-align: center;
}
.tagtop{
  margin-top:40px
}

.h1_links{
  text-decoration: none;
  font-family: 'Edu QLD Beginner', cursive;;
  color:rgb(35, 108, 121);
  font-size:32px;
}
.sidebar > p {
    margin-top: 20px;
    text-align: center;
}

.sidebar-nav{
    margin-left: -30px;
    margin-top: 30px;
    text-align: center;
}
.sidebar-nav-items{
    margin-bottom: 15px;
}
.sidebar>img{
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: 10px;
}
.links{
  text-decoration: none;
  /* font-family: 'Quicksand', sans-serif; */
  font-family: 'Edu QLD Beginner', cursive;
  color:rgb(76, 174, 169);
  font-size: larger;
  line-height: 1.4rem;
}
.sidebar-nav-icons{
    margin-bottom: 15px;
}

.flip-card-back{
  margin-top:50px;
}
.fa-lg{
  text-decoration: none;
  color:rgb(240, 142, 159);
}

.links:hover{
 /* color:rgb(121, 189, 252); */
 color:rgb(121, 189, 252);
 text-decoration: underline;
}
.fas:hover{
  color:rgb(41, 152, 255);
  text-decoration: underline;
 }
 ul{
   list-style: none;
 }
  .h1_links:hover{
  color: rgb(47, 172, 204);
 }
 /*//////////////media ////////////////////*/
 @media (max-width:980px){
  .sidebar{
    width:106vw;
  }
  .h1_links{
    font-size:29px;
  }
 }


@media (max-width:768px){
  .sidebar{
    width:106vw;
  }
  .h1_links{
    font-size:28px;
  }
  .links{
display:none;
  }
  .fas{
    transform: scale(1.3);
    margin:5px 0px;
  }
 .gmail{
   font-size:16px;  
   font-weight: normal;
 }
}
 
@media (max-width:370px){
  .sidebar{
    width:106vw;
  }
  .h1_links{
    font-size:24px;
  }
  .links{
    font-size: 16px;
  }
  .fas{
    transform: scale(1.1);
    margin:5px 0px;
  }

}